h1{
    text-align: center;
    color: black;
}
.menu{
    color: rgb(238, 105, 207);
    display: flex;
    justify-content: center;
 
}
.menu :hover{
    color: rgb(240, 75, 190);
}
.menu a{
    text-decoration: none;
    padding-right: 15px;
    color: black;
}
h2{
    text-align: center;
}
form{
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-left: 500px;
}
form label{
    
}
form input{
    align-items: ;
}
